<%= form_for :event, :url => {:action => 'update'} do |f| %>
    <%= f.text_field "title", :placeholder => "Title" %><br>
    <%= f.text_area "description", :placeholder => "Description" %><br>
    <%= f.select "day_index", options_for_select(@days, @event.day_index) %><br>
    <label>Time</label>
    <%= f.text_field 'min_time', :id => "time-input", :class => "time-input", :placeholder => "ex: 12:23 pm" %><br>
    <label>Duration</label>
    <%= f.text_field 'duration', :id => "duration-input", :class => "time-input", :placeholder => "ex: 2:30" %><br>
    <%= f.submit "Update Event" %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    View.timeInput.addEventListener("blur", function () {
      Controller.formatTimeInput();
    });
    View.durationInput.addEventListener("blur", function () {
      Controller.formatDurationInput();
    });
    Controller.formatTimesFromServer();
  });
</script>