<h1>All events</h1>
<%= link_to "new event", new_event_path %>

<% @events.each do |days_events| %>
  <h2><%= days_events[:day] %></h2>
  <table class="pure-table">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Extra Cost</th>
      <th>All FVC</th>
      <th>Registration Required</th>
      <th>Start Time</th>
      <th>Duration</th>
    </tr>
    <% days_events[:events].each do |event| %>
      <tr>
        <td><%= link_to event.title, edit_event_path(event) %></td>
        <td><%= event.description %></td>
        <td><%= event.extra_cost %></td>
        <td><%= event.all_fvc %></td>
        <td><%= event.reg_required %></td>
        <td><%= event.min_time ? event.min_time.formatted_time : "NA" %></td>
        <td><%= event.duration ? event.duration.formatted_hours : "NA" %></td>
      </tr>
    <% end %>
  </table>
<% end %>
