<h1>All events</h1>
<%= link_to "new event", new_event_path %>

<% @events.each do |event| %>
  <h2><%= event.title %></h2>
  <h5><%= event.description %></h5>
  <p><%= event.min_time %><br>
  <p><%= event.duration %><br>
  <%= link_to "edit", edit_event_path(event) %>
  <hr>
<% end %>
