<!DOCTYPE html>
<html>
<head>
  <title>FvcServer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0-rc-1/pure-min.css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag "model" %>
<%= javascript_include_tag "view" %>
<%= javascript_include_tag "controller" %>

</body>
</html>
